<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-body">
        <form ngNativeValidate [formGroup]="form"  #ReceptionForm="ngForm" (ngSubmit)="createReception(form, ReceptionForm)">
          <div class="row cliente">
            <div class="col-12 client-title">
                <h2>Informacion del cliente</h2>
            </div>
            <div class="col-3">
                <div class="form-group centrado">
                  <label for="fecha"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Fecha</strong></font></font></label>
                  <input formControlName="fecha" required type="date" class="form-control" id="fecha" placeholder="Fecha" required>
                </div>
            </div>
              <div class="col-3">
                <div class="form-group centrado">
                  <label for="direccion"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Direccion</strong></font></font></label>
                  <input formControlName="direccion" type="text" class="form-control" id="direccion" placeholder="Direccion">
                </div>
              </div>    
              <div class="col-3">
                  <div class="form-group centrado">
                    <label for="telefono"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Telefonos</strong></font></font></label>
                    <input formControlName="telefono" type="text" class="form-control" id="telefono" placeholder="Telefono">
                  </div>
              </div>
              <div class="col-3">
                <div class="form-group centrado">
                  <label for="email"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Email</strong></font></font></label>
                  <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
                </div>
              </div>
              <div class="col-12">
                  <div class="form-group centrado">
                    <label for="solicitante"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Solicitante</strong></font></font></label>
                    <input formControlName="solicitante" type="text" class="form-control" id="solicitante" placeholder="solicitante" required>
                  </div>
              </div>   
          </div>
          <br>
          <div class="row letraequipo">
            <div class="col-12 infoequipo">
                <h2>Informacion del equipo</h2>
                <hr>
            </div>
            <div class="col-3">
                <div class="form-group centrado">
                  <label for="tipo_servicio"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Tipo Servicio</strong></font></font></label>
                  <input formControlName="tipo_servicio" type="text" class="form-control" id="tipo_servicio" placeholder="Tipo Servicio" required>                </div>
             </div>
             <div class="col-3">
                <div class="form-group centrado">
                  <label for="tag"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Tag</strong></font></font></label>
                  <input formControlName="tag" required type="text" class="form-control" id="tag" placeholder="Tipo Servicio">
                </div>
             </div>
             <div class="col-3">
                <div class="form-group centrado">
                  <label for="serial"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Serial</strong></font></font></label>
                  <input formControlName="serial" type="text" class="form-control" id="serial" placeholder="Tipo Servicio">
                </div>
             </div>
             <div class="col-3">
                <div class="form-group centrado">
                  <label for="intervalo_medicion"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Intervalo Medicion</strong></font></font></label>
                  <input formControlName="intervalo_medicion" type="text" class="form-control" id="intervalo_medicion" placeholder="Tipo Servicio">
                </div>
             </div>
             <div class="col-3">
                <div class="form-group centrado">
                  <label for="tipo_medicion"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Tipo Medicion</strong></font></font></label>
                  <input formControlName="tipo_medicion" type="text" class="form-control" id="tipo_medicion" placeholder="Tipo Servicio">
                </div>
             </div>
             <div class="col-3">
                <div class="form-group centrado">
                  <label for="tipo_indicacion"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Tipo Indicacion</strong></font></font></label>
                  <input formControlName="tipo_indicacion" type="text" class="form-control" id="tipo_indicacion" placeholder="Tipo Servicio">
                </div>
             </div>
             <div class="col-3">
                <div class="form-group centrado">
                  <label for="intervalo_calibracion"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Intervalo Calibracion</strong></font></font></label>
                  <input formControlName="intervalo_calibracion" type="text" class="form-control" id="intervalo_calibracion" placeholder="Tipo Servicio">
                </div>
             </div>
             <div class="col-3">
                <div class="form-group centrado">
                  <label for="estado_equipo"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Estado Equipo</strong></font></font></label>
                  <input formControlName="estado_equipo" type="text" class="form-control" id="estado_equipo" placeholder="Tipo Servicio">
                </div>
             </div>
             <div class="col-3">
                <div class="form-group centrado">
                  <label for="apto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Apto</strong></font></font></label>
                  <input formControlName="apto" type="text" class="form-control" id="apto" placeholder="Tipo Servicio">
                </div>
             </div>
             <div class="col-9">
                <div class="form-group centrado">
                  <label for="observaciones"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Observaciones</strong></font></font></label>
                  <input formControlName="observaciones" type="text" class="form-control" id="observaciones" placeholder="Tipo Servicio">
                </div>
             </div>
          </div>
          <div class="row">
            <div class="col-12">
                <br>
                <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar</font></font></button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

