<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-tittle">
        <h2>Informacion del cliente</h2>
        <hr>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-3">
              <div class="form-group centrado">
                <label for="fecha"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Fecha</strong></font></font></label>
                <input type="date" class="form-control" id="fecha" placeholder="Enter Username">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group centrado">
                <label for="direccion"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Direccion</strong></font></font></label>
                <input type="text" class="form-control" id="direccion" placeholder="Direccion">
              </div>
            </div>    
            <div class="col-3">
               <div class="form-group centrado">
                 <label for="telefono"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>telefonos</strong></font></font></label>
                 <input type="text" class="form-control" id="telefono" placeholder="Telefono">
               </div>
            </div>        
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
    <label for="exampleInputEmail1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre de usuario</font></font></label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Username">
</div>